{% requireAdmin %}

{% extends "_layouts/cp" %}
{% set title = result.name %}

{% import "_includes/forms" as forms %}

{% set crumbs = [
    { label: "Reports"|t, url: url('reports') }
] %}

{% set extraPageHeaderHtml %}
    <div class="buttons right">
        <a href="{{ url('reports/edit/' ~ result.id) }}" class="submit btn pencil icon">{{ "Edit report"|t }}</a>
    </div>
{% endset %}

{% block content %}
    {% if result.rows | length %}
        <table class="data fullwidth">
            {% if result.columns | length %}
                <thead>
                    <tr>
                        {% for column in result.columns %}
                            <th>{{ column }}</th>
                        {% endfor %}
                    </tr>
                </thead>
            {% endif %}
            <tbody>
                {% for row in result.rows %}
                <tr>
                    {% for column in row %}
                        <td>{{ column }}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}
